<a href="https://colab.research.google.com/github/yz2873/boston_housing/blob/master/Test_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
data = pd.DataFrame(data=[[1,2,3], [4,5,6], [7,8,9]], columns=['A', 'B', 'C'])

In [6]:
data

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
data.columns

Index(['A', 'B', 'C'], dtype='object')